@{
    ViewBag.Title = "Web API Routes";
}

<header class="help-page">
    <div class="content-wrapper">
        <div class="float-left">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</header>
<div id="body" class="help-page">
    <section class="featured">
        <div class="content-wrapper">
            <h2>Introduction</h2>
            <p>
                Use this page to see the available BLE Reader's Web API
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h2 id="Beacon">Beacon</h2>
        <table class="help-page-table">
            <thead>
            <tr><th>API</th><th>Description</th><th>Example</th></tr>
            </thead>
            <tbody>
            <tr>
                <td class="api-name">
                    <a href="/rest/1.0/beacons" target="_blank">GET &nbsp;rest/1.0/beacons</a>
                </td>
                <td class="api-documentation">
                    <p>Returns JSON of all the beacons available in the Database</p>
                </td>
                <td>
                    <a href="/rest/1.0/beacons" target="_blank">Link</a>
                </td>
            </tr>

            <tr>
                <td class="api-name">
                    <a href="/rest/1.0/beacons/beacon-id/{beaconId}" target="_blank">GET &nbsp;rest/1.0/beacons/beacon-id/{beaconId}</a>
                </td>
                <td class="api-documentation">
                    <p>Returns JSON of the found beacon by the specified {beaconId}</p>
                </td>
                <td>
                    <a href="/rest/1.0/beacons/beacon-id/1" target="_blank">Link</a>
                </td>
            </tr>

            <tr>
                <td class="api-name">
                    <a href="/rest/1.0/beacons/building-name/{buildingName}" target="_blank">GET &nbsp;rest/1.0/beacons/building-name/{buildingName}</a>
                </td>
                <td class="api-documentation">
                    <p>Returns JSON of all the beacons found by the specified {buildingName}</p>
                </td>
                <td>
                    <a href="/rest/1.0/beacons/building-name/Headland%20Court" target="_blank">Link</a>
                </td>
            </tr>

            <tr>
                <td class="api-name">
                    <a href="/rest/1.0/beacon/" target="_blank">POST &nbsp;rest/1.0/beacon/</a>
                </td>
                <td class="api-documentation">
                    <p>Adds a new Beacon to the Database. Returns HTTP Status Code 200 - OK if successful, 400 - Bad Request if failed</p>
                </td>
                <td>
                    <b>Submit using POST</b>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
    <br/>
</div>
